.mdl-site-header {
  padding: 10px 40px;
  border-top: 1px solid black;
  color: #333;

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &__header-logo img {
      width: 60px;
      height: 60px;
      padding: 5px;
    }

    &__header-links {
      display: flex;
      gap: 1.5em;

      a {
        color: #333;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        padding: 4px 8px;
        transition: color 0.3s ease, border-color 0.3s ease;

        &:hover {
          color: #ff7f00;
        }
      }
    }
  }
}
