<base href="/"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="cq:datatype" data-sly-test="${symbol_dollar}{wcmmode.edit || wcmmode.preview}" content="JSON"/>
<meta property="cq:wcmmode" data-sly-test="${symbol_dollar}{wcmmode.edit}" content="edit"/>
<meta property="cq:wcmmode" data-sly-test="${symbol_dollar}{wcmmode.preview}" content="preview"/>
<meta property="cq:wcmmode" data-sly-test="${symbol_dollar}{wcmmode.disabled}" content="disabled"/>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>

<sly data-sly-call="${symbol_dollar}{clientlib.all @ categories=['coralui3']}"/>
<sly data-sly-call="${symbol_dollar}{clientlib.css @ categories=['${appId}.base']}"/>

<sly data-sly-list="${page.htmlPageItems}">
    <script data-sly-test="${symbol_dollar}{item.location.name == 'header'}" 
            data-sly-element="${symbol_dollar}{item.element.name @ context='unsafe'}"  
            data-sly-attribute="${symbol_dollar}{item.attributes}"></script>
</sly>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${symbol_dollar}{clientlib.js @ categories='${appId}.dependencies'}"/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${symbol_dollar}{clientlib.css @ categories='${appId}.base'}"/>

<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>

<sly data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page"
     data-sly-list="${page.htmlPageItems}">
    <script data-sly-test="${symbol_dollar}{item.location.name == 'header'}"
            data-sly-element="${symbol_dollar}{item.element.name @ context='unsafe'}"
            data-sly-attribute="${symbol_dollar}{item.attributes}"></script>
</sly>

