<sly data-sly-use.controller="com.musicdistribution.thallforge.components.content.artistprofiles.ArtistProfilesController"></sly>
<div data-sly-test.hasContent="${controller.model.hasContent}"
     class="mdl-artist-profiles"
     data-cmp-is="artistprofiles">
    <h2 class="mdl-artist-profiles__title">${controller.model.title}</h2>
    <div class="mdl-artist-profiles__accordion">
        <sly data-sly-resource="${'artist-profiles-grid', @ resourceType='wcm/foundation/components/responsivegrid'}">
        </sly>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
