<sly data-sly-use.controller="com.musicdistribution.thallforge.components.content.albumtracklist.AlbumTrackListController"></sly>
<div data-sly-test.hasContent="${controller.model.hasContent}"
     class="mdl-album-tracklist">
    <h2>${controller.model.title}</h2>
    <div class="mdl-album-tracklist__album-cover">
        <img src="${controller.model.thumbnail}" alt="Album Cover" />
    </div>
    <div data-sly-list.track="${controller.model.tracks}" class="mdl-album-tracklist__item">
        <div class="mdl-album-tracklist__item-title">${track.title}</div>
        <a class="mdl-album-tracklist__item-download-link"
           data-sly-attribute.href="${track.link}" download>${controller.model.downloadLabel}</a>
    </div>
</div>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
