.mdl-site-footer {
  padding: 20px 40px;
  border-top: 2px solid black;  // Top border for separation
  color: #333;

  &__footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 15px;

    &__footer-logo img {
      width: 100px;
      height: auto;
      border: 2px solid black;
      padding: 5px;
      border-radius: 6px;
    }

    &__footer-links {
      display: flex;
      gap: 1.5em;

      a {
        color: #333;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        border: 2px solid transparent;
        border-radius: 4px;
        padding: 4px 8px;
        transition: color 0.3s ease, border-color 0.3s ease;

        &:hover {
          color: #ff7f00;
          border-color: #ff7f00;
        }
      }
    }
  }
}
